/* App.css */
.App {
    text-align: center;
  }
  
  .App-header {
    background-image: url('./assets/pexels-eva-bronzini-7598077.jpg'); /* Adjusted path for your image */
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

  }

  .youtube-button {
    background-color: #ff3030;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
  }

  .youtube-button:hover {
    background-color: #ff4747;
  }

  .App-header h1,
  .App-header p,
  .App-header a {
    margin: 0;
    padding: 0; /* Adjust spacing between elements */
  }

  .App-frame {
    background-color: white;
    padding: 40px;
    margin: 50px auto; /* Centers the frame below the header */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Optional: limits the width */
    text-align: left;
    margin-bottom: 100px;
  }
  
  .frame-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
  }
  
  .frame-text {
    font-size: 16px;
    font-weight: normal;
    color: #555;
    line-height: 1.6;
  }

  .badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .badge {
    width: 100px;
    height: auto;
  }


  @media (max-width: 480px) {
    .App-header {
      text-align: center; /* Center-align header content */
      padding: 10px;
    }

    .App-header h1 {
      text-align: left; /* Adjusted font size for smaller screens */
      font-size: 28px; /* Adjusted font size for smaller screens */
    }
  
    .intro-text {
      font-size: 14px; /* Reduce font size for smaller screens */
    }
  
    .youtube-button {
      font-size: 12px; /* Scale down button text */
      padding: 5px 10px; /* Adjust button size */
    }
  }


  
