.FourthPage {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
  }

  .FourthPage p {
    text-align: left; /* Aligns text to the left */
    margin: 0; /* Removes any unintended center alignment margin */
    width: 100%; /* Ensures the paragraph spans the full container width */
    margin-bottom: 20px;
  }

  .FourthPage .text-content h2 {
    font-size: 24px;
    color: royalblue;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .FourthPage .text-content h3 {
    font-size: 20px;
    color: rgba(71, 71, 71, 0.864);
    margin-top: 3px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .companies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .company-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
  }
  
  .company-image {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .text-content {
    flex: 1;
  }
  
  .text-content ul {
    list-style-position: ;
    padding-left: 0;
    margin: 0;
  }

  .text-content li {
    text-align: left;
    margin-bottom: 5px;
  }

  @media (max-width: 768px) {
    .company-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px 0;
    }

    .company-item img {
        width: 100%; /* Make the image adapt to smaller widths */
        max-width: 200px; /* Prevent it from being excessively large */
        height: auto;
    }

    .text-content {
        padding: 10px;
    }

    .company-item .text-content h2 {
        font-size: 18px;
    }
    
    .company-item .text-content h3 {
        font-size: 15px;
    }
    
    .company-item .text-content p {
        font-size: 10px;
        text-align: center;
    }
    
}


