.ThirdPage {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    background-color: #ffffff;
}

.ThirdPage h1 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
}

.ThirdPage p {
    margin: 0;
    width: 100%;
    color: #000000;
    margin-bottom: 40px;
    text-align: left;
}

.education-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.animated-image {
    width: 400px;
    height: 250px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 40px;
    border-radius: 8px;
}

.text-content h2 {
    margin: 0;
    font-size: 1.5rem;
    color: royalblue;
}

.ThirdPage .text-content h3 {
    margin: 0;
    font-size: 1.2rem;
    color: rgba(71, 71, 71, 0.864);
    margin-top: 3px;
    margin-bottom: 10px;
    font-weight: bold;
}

.text-content p {
    margin: 5px 0 0;
    font-size: 1rem;
    color: #666;
}


